<app-wrapper-form *ngIf="stepForm" [currentStep]="0" [title]="'Personal info'" [subtitle]="'Please provide your name, email address, and phone number.'">

    <form #form="ngForm" [formGroup]="stepForm" (ngSubmit)="navigate()">
        
        <app-input-element
        [form]="stepForm"
        [controlName]="'name'"
        [validated]="validated"
        [type]="'text'"
        [placeholder]="'e.g. Stephen King'"
        [label]="'Name'"
        [errors]="errors['name']">
        </app-input-element>

        <app-input-element
        [form]="stepForm"
        [controlName]="'email'"
        [validated]="validated"
        [type]="'email'"
        [placeholder]="'e.g. stephenking@lorem.com'"
        [label]="'Email Address'"
        [errors]="errors['email']">
        </app-input-element>
        
        <app-input-phone-element
        [form]="stepForm"
        [controlName]="'phone'"
        [validated]="validated"
        [type]="'text'"
        [placeholder]="'e.g. +1 234 567 890'"
        [label]="'Phone Number'"
        [errors]="errors['phone']">
        </app-input-phone-element>

    </form>

    <ng-container id="action-buttons">
        <button class="form-button" (click)="submitForm(form)">Next Step</button>
    </ng-container>

</app-wrapper-form>