<app-wrapper-form *ngIf="stepForm" [currentStep]="2" [title]="'Pick add-ons'"
    [subtitle]="'Add-ons help enhance your gaming experience.'">

    <form #form="ngForm" (ngSubmit)="navigate($event)">

        <app-check-group-element [stepForm]="stepForm" [dataForm]="dataForm"></app-check-group-element>

    </form>

    <ng-container id="action-buttons">
        <button class="form-button" (click)="submitForm(form, true)">Next Step</button>
        <span class="form-go-back" (click)="submitForm(form, false)">Go Back</span>
    </ng-container>

</app-wrapper-form>