<div *ngIf="form && options.length > 1" class="slide-container" [formGroup]="form">

    <label [for]="options[0].value" [ngClass]="{'active-slide': form.get(controlName)?.value == options[0].value}">{{ options[0].label }}</label>
    <input type="radio" [id]="options[0].value" [value]="options[0].value" [name]="controlName" [formControlName]="controlName" (change)="toggleViewValue()">

    <div class="slide-element-container">
        <span class="slide-element-first-circle"></span>
        <span class="slide-element-second-circle"></span>
        <span class="slide-element-body"></span>
        <div class="slide-element-shadow-container" (click)="toggleValue()">
            <span #slideValue class="slide-element-body-circle"></span>
        </div>
    </div>

    <label [for]="options[1].value" [ngClass]="{'active-slide': form.get(controlName)?.value == options[1].value}">{{ options[1].label }}</label>
    <input type="radio" [id]="options[1].value" [value]="options[1].value" [name]="controlName" [formControlName]="controlName" (change)="toggleViewValue()">

</div>