<app-wrapper-form [currentStep]="3" [title]="'Finishing up'"
    [subtitle]="'Double-check everything looks OK before confirming.'">

    <div class="summary-container">

        <div class="details-container">

            <div class="step-section">

                <div class="first-col">

                    <span class="title">{{ planData['title'] }} ({{ planData['planType'] | titlecase }})</span>
                    <span class="subtitle" (click)="goToSecondStep()">Change</span>

                </div>

                <span class="second-step-price">{{ planData['price']?.label }}</span>

            </div>

            <ng-container *ngIf="addOnsData.length > 0">

                <hr>
                
                <div *ngFor="let item of addOnsData" class="step-section">
    
                    <span class="first-col">{{ item['title'] }}</span>
                    <span class="price-col">{{ item['price'].label }}</span>
    
                </div>

            </ng-container>

        </div>

        <div class="total-container">

            <span class="first-col">Total (per {{ planData['isMonthly'] ? 'month' : 'year' }})</span>
            <span class="price-col">{{ total }}</span>

        </div>

    </div>

    <ng-container id="action-buttons">
        <button class="form-button form-confirm">Confirm</button>
        <span class="form-go-back" (click)="goBack()">Go Back</span>
    </ng-container>

</app-wrapper-form>