<app-wrapper-form [currentStep]="3" [title]="'Finishing up'"
    [subtitle]="'Double-check everything looks OK before confirming.'">

    <div class="summary-container">

        <div class="details-container">

            <div class="step-section">

                <div class="first-col">

                    <span class="title">Arcade (Monthly)</span>
                    <span class="subtitle" (click)="goToSecondStep()">Change</span>

                </div>

                <span class="second-step-price">$9/mo</span>

            </div>

            <hr>
            
            <div class="step-section">

                <span class="first-col">Online service</span>
                <span class="price-col">+$1/mo</span>

            </div>
            
            <div class="step-section">

                <span class="first-col">Larger storage</span>
                <span class="price-col">+$2/mo</span>

            </div>

        </div>

        <div class="total-container">

            <span class="first-col">Total (per month)</span>
            <span class="price-col">+$12/mo</span>

        </div>

    </div>

    <ng-container id="action-buttons">
        <button class="form-button form-confirm">Confirm</button>
        <span class="form-go-back" (click)="goBack()">Go Back</span>
    </ng-container>

</app-wrapper-form>