<app-wrapper-form *ngIf="stepForm" [currentStep]="1" [title]="'Select your plan'"
    [subtitle]="'You have the option of monthly or yearly billing.'">

    <form #form="ngForm" [formGroup]="stepForm" (ngSubmit)="navigate($event)">

        <app-radio-group-element #radioGroup [dataForm]="dataForm" [stepForm]="stepForm" [validated]="validated"></app-radio-group-element>

        <app-slide-element 
            [options]="[{value: 'monthly', label: 'Monthly'}, {value: 'yearly', label: 'Yearly'}]"
            [form]="stepForm"
            [controlName]="'paymentOption'">
        </app-slide-element>

    </form>

    <ng-container id="action-buttons">
        <button class="form-button" (click)="submitForm(form, true)">Next Step</button>
        <span class="form-go-back" (click)="submitForm(form, false)">Go Back</span>
    </ng-container>

</app-wrapper-form>