@import '/src/assets/styles/colors';

.check-input-group {

    display: flex;
    column-gap: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
    margin: 2em 0px;

    .check-item {

        width: 100%;
        border-radius: 5px;
        padding: 1em;
        border: $light_gray 1px solid;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        row-gap: 1em;

        &:hover {

            border-color: $marine_blue;

        }

        label {

            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;

        }

        .check-column {

            display: flex;
            column-gap: 1em;
            row-gap: 1em;
            align-items: center;

            .label-container {

                display: flex;
                flex-direction: column;

                .check-title {

                    font-family: ubuntuMediumFont;

                }

                .check-subtitle {

                    color: $cool_gray;
                    font-size: 14px;

                }

            }

            input {

                width: 16px;
                height: 16px;
                min-width: 16px;
                min-height: 16px;

            }

        }

        .check-price {

            color: $purplish_blue;
            font-size: 14px;

        }

    }

}

.check-active {

    border-color: $marine_blue !important;
    background-color: $magnolia;

}