<div class="form-flex-container">

    <div class="form-fields-container">

        <ng-container *ngIf="isFormStep">

            <h1 class="form-title">{{ title }}</h1>
    
            <p class="form-sub-title">{{ subtitle }}</p>

        </ng-container>

        <ng-content></ng-content>

    </div>

    <ng-container *ngIf="isFormStep">
        
        <div class="submit-container">
    
            <ng-content select="#action-buttons"></ng-content>
    
        </div>

    </ng-container>

</div>